{% load mytags %}


<div class="side-menu sidebar-inverse">
    <nav class="navbar navbar-default" role="navigation">
        <div class="side-menu-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <div class="icon fa fa-paper-plane"></div>
                    <div class="title">zyxr omp</div>
                </a>
                <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                    <i class="fa fa-times icon"></i>
                </button>
            </div>
            <ul class="nav navbar-nav">
                {% url 'index' as index %}
                <li class="{% nav_active request index %}">
                    <a href="{% url 'index' %}">
                        <span class="icon fa fa-home"></span><span class="title">首页</span>
                    </a>
                </li>
                {% url 'deploy' as deploy %}
                <li class="{% nav_active request deploy %}">
                    <a href="{% url 'deploy' %}">
                        <span class="icon fa fa-ship"></span><span class="title" name="deploy">发布变更</span>
                    </a>
                </li>
                <!-- {% url 'zusers_index' as zusers_index %}
                <li class="{% nav_active request zusers_index %}">
                    <a href="{% url 'zusers_index' %}">
                        <span class="icon fa fa-user"></span><span class="title" name="deploy">用户管理</span>
                    </a>
                </li> -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>
