{% load static %}
<body>

<div id="list">
    <p id="list_result">jabba</p>
    <button type="button" id="get_list_btn">get list</button>
</div>
<div id="dict">
    <p id="dict_result">dict</p>
</div>


<form method="post" action="{% url 'ajax_list' %}" enctype="multipart/form-data">
    <input type="file" name="myfile" />
    <!-- <input type="submit" name="submit" value="Upload" /> -->
    <button>upload</button>
</form>


<script type="text/javascript" src="{% static 'lib/js/jquery.min.js' %}"></script>
<script type="text/javascript">
    
    $(document).ready(function() {

        $("#get_list_btn").click(function() {

            $.getJSON("{% url 'ajax_list' %}", function(ret) {

                $("#list_result").empty();

                $.each(ret, function(k, v) {
                    // ht += v
                    $("#list_result").append(v + ' ');
                })

                // $("#list_result").html(ht);
            })
        })

    }); //document.ready

</script>

</body>