{% load static %}
<body>


<form id="test_form" class="form-horizontal">
            
    {% for field in form %}
         {{ field.label_tag }}:{{ field }} 
         {{ field.errors }}<br>
    {% endfor %}

    {{ error }}

    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-10">
          <div>
            <button id="test_btn" class="btn btn-info">发布</button>
          </div>
      </div>
    </div>
</form>

<p id="result"></p>


<script type="text/javascript" src="{% static 'lib/js/jquery.min.js' %}"></script>
<script type="text/javascript">
    
    $(document).ready(function() {

         $("#test_form").submit(function(event) {

            event.preventDefault();     //防止页面刷新，也可以用 return false


            var data = $(this).serializeArray()
            console.log(data)
            // alert(data)

            $.post("{% url 'ajax_test' %}", data, function(ret) {
                $("#result").text(ret)
            })

        }) //deploy_form.submit

    }); //document.ready

</script>

</body>