{% extends "base.html" %}

{% block title %}deploy{% endblock %}

{% block content %}
<div class="panel panel-default">
    
    <div class="panel-heading">
        <h3 class="panel-title">代码发布</h3>
    </div>

    <div class="panel-body">

        <form id="deploy_form" class="form-horizontal">

            <!-- svn url -->
            <div class="form-group">
                <label for="svn_url" class="col-sm-1 control-label"> <strong>*</strong>svn地址：</label>
                <div class="col-sm-10">
                    <input name="svn_url" id="svn_url" type="text" class="form-control" placeholder="svn url" />
                </div>
            </div> <!-- svn url -->


            <!-- jar server ip -->
            <div class="form-group">
                <label for="jar_server_ip" class="col-sm-1 control-label"> jar发布到：</label>
                <div class="col-sm-10">
                    <input name="jar_server_ip" id="jar_server_ip" type="text" class="form-control" placeholder="服务器ip，以英文逗号分隔" />
                </div>
            </div> <!-- jar server ip -->

            <!-- cwar server ip -->
            <div class="form-group">
                <label for="cwar_server_ip" class="col-sm-1 control-label"> war发布到：</label>
                <div class="col-sm-10">
                    <input name="cwar_server_ip" id="cwar_server_ip" type="text" class="form-control" placeholder="服务器ip，以英文逗号分隔" />
                </div>
            </div> <!-- cwar server ip -->

            <!-- awar server ip -->
            <div class="form-group">
                <label for="awar_server_ip" class="col-sm-1 control-label"> admin war发布到：</label>
                <div class="col-sm-10">
                    <input name="awar_server_ip" id="awar_server_ip" type="text" class="form-control" placeholder="服务器ip，以英文逗号分隔" />
                </div>
            </div> <!-- awar server ip -->

            
            <!-- operation -->
            <div class="form-group">
              <div class="col-sm-offset-1 col-sm-10">
                  <div>
                    <button id="deploy" class="btn btn-info">发布</button>
                    <!-- <button id="rollback" class="btn btn-danger">回滚</button> -->
                  </div>
              </div>
            </div>

        </form>

<p id="result"></p>

<p id="pkglist"></p>

<p id="log_content"></p>
        
    </div><!-- class="panel-body" -->
</div><!-- class="panel panel-default" -->

    
{% endblock %}

{% block js %}
<script type="text/javascript">

    $(document).ready(function() {
        // console.log("ready")

        $("button").click(function(event) {

            event.preventDefault();

            $("#result").text("wait for result...")

            var data = $("#deploy_form").serializeArray()
            console.log(data)

            if ($(this).attr("id") == "deploy" ) {
              // console.log($(this).attr("id"))
                $.post("{% url 'ajax_deploy' %}", data, function(ret) {
                  ret = $.parseJSON(ret)

                  console.log(ret.msg)

                  $("#result").text(ret.msg)
                  show_pkglist(ret.pkglist)
                })
            }
            // else if ($(this).attr("id") == "rollback") {
            //   // console.log($(this).attr("id"))
            //     $.post("{% url 'ajax_rollback' %}", data, function(ret) {
            //       $("#result").text(ret)
            //     })
            // }
            

        }) // deploy.click

    }); //document.ready


    function get_log() {
      _this = this

      console.log(this)

      $.getJSON("/myapp/show_log", {"pkg" : _this.text}, function(ret) {
        console.log(this)
      //   $.each(result, function(i, field){
      //     $("#log_content").append(field + " ");
      //   });
      })

      return false
    }


    function show_pkglist(pkglist) {

      $("#pkglist").empty()

      $.each(pkglist, function(i, n) {
        // s = "<a href=/myapp/show_log?pkg=" + n + ">" + n + "</a><br>"
        s = '<a href="javascript:void(0);" onclick="get_log()">' + n + "</a><br>"

        $("#pkglist").append(s)


      }) // $.each
    } // show_pkglist

</script>
{% endblock %}