{% extends "base.html" %}

{% block title %}deploy{% endblock %}

{% block content %}
<div class="panel panel-default">
    
    <div class="panel-heading">
        <h3 class="panel-title">代码发布</h3>
    </div>

    <div class="panel-body">

        <form id="deploy_form" class="form-horizontal">

            <!-- svn url -->
            <div class="form-group">
                <label for="svn_url" class="col-sm-1 control-label"> svn地址：</label>
                <div class="col-sm-10">
                    <input name="svn_url" id="svn_url" type="text" class="form-control" placeholder="svn url" />
                </div>
                <!-- alert message -->
                <div>
                    <div name="alert_msg" class="alert alert-warning alert-dismissible hidden" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <strong>Warning!</strong> Better check yourself, you're not looking too good.
                    </div>
                </div> <!-- alert message -->
            </div> <!-- svn url -->

            <!-- jar server ip -->
            <div class="form-group">
                <label for="jar_server_ip" class="col-sm-1 control-label"> jar发布到：</label>
                <div class="col-sm-10">
                    <input name="jar_server_ip" id="jar_server_ip" type="text" class="form-control" placeholder="server ip" />
                </div>
            </div> <!-- jar server ip -->

            <!-- cwar server ip -->
            <div class="form-group">
                <label for="cwar_server_ip" class="col-sm-1 control-label"> war发布到：</label>
                <div class="col-sm-10">
                    <input name="cwar_server_ip" id="cwar_server_ip" type="text" class="form-control" placeholder="server ip" />
                </div>
            </div> <!-- cwar server ip -->

            <!-- awar server ip -->
            <div class="form-group">
                <label for="awar_server_ip" class="col-sm-1 control-label"> admin war发布到：</label>
                <div class="col-sm-10">
                    <input name="awar_server_ip" id="awar_server_ip" type="text" class="form-control" placeholder="server ip" />
                </div>
            </div> <!-- awar server ip -->

            
            <!-- operation -->
            <div class="form-group">
              <div class="col-sm-offset-1 col-sm-10">
                  <div>
                    <button id="deploy" class="btn btn-info">发布</button>
                    <!-- <button id="rollback" class="btn btn-danger">回滚</button> -->
                  </div>
              </div>
            </div>

        </form>

<p id="result"></p>

        
    </div><!-- class="panel-body" -->
</div><!-- class="panel panel-default" -->

    
{% endblock %}

{% block js %}
<script type="text/javascript">

    $(document).ready(function() {
        // console.log("ready")

        $("button").click(function(event) {

            event.preventDefault();

            var data = $("#deploy_form").serializeArray()
            console.log(data)

            if ($(this).attr("id") == "deploy" ) {
              // console.log($(this).attr("id"))
                $.post("{% url 'ajax_deploy' %}", data, function(ret) {
                  $("#result").text(ret)
                })
            }
            // else if ($(this).attr("id") == "rollback") {
            //   // console.log($(this).attr("id"))
            //     $.post("{% url 'ajax_rollback' %}", data, function(ret) {
            //       $("#result").text(ret)
            //     })
            // }
            

        }) // deploy.click


        // $("#deploy_form").submit(function(event) {

        //     event.preventDefault();     //防止页面刷新，也可以用 return false

        //     // 检查url是否为空
        //     // if($("#svn_url").val() == "") {
        //     //   $("div[name='alert_msg']").show()
        //     //   return
        //     // }

        //     var data = $(this).serializeArray()
        //     console.log(data)
        //     // alert(data)

        //     $.post("{% url 'ajax_deploy' %}", data, function(ret) {
        //         $("#result").text(ret)
        //     })

           //  $.ajax({
           //    type: "POST",
           //    url: "{% url 'ajax_deploy' %}",
           //    data: params,
           //    dataType : "json",
           //    success: function(respMsg){
           //    }
           // });

        // }) //deploy_form.submit



    }); //document.ready

</script>
{% endblock %}